@import "../node_modules/normalize.css/normalize.css";

.App {
  text-align: center;
}

.main {
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right:20px;
}

.header {
  border: 1px solid lightgray;
  font-size:1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header * {
  width: 120px;
  text-align:center;
}

.entry {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-top:0;
  box-sizing: border-box;
  justify-content: space-between;
}

.value {
  width: 120px;
  box-sizing: border-box;
  text-align:center;
}

.entry .value:first-child {
  text-align:left;
  padding-left:10px;
}

.entry .value:last-child {
  text-align:right;
  padding-right:10px;
}

.buttonHolder .button {
  padding: 10px;
  border: 0;
  border-top:1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.buttonHolder .button:focus {
  outline: none;

}

.buttonHolder .button:first-child {
  border-left: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.buttonHolder .button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.button.active {
  background-color: cornflowerblue;
}

.header a {
  color: cornflowerblue;
  text-decoration: none;
}