.App {
  text-align: center;
}

.main {
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right:20px;
}

.header {
  border: 1px solid lightgray;
  font-size:1.5em;
}

.entry {
  display: flex;
  flex-direction: row;
  width: 200px;
  border: 1px solid lightgray;
  border-top:0;
  box-sizing: border-box;
  justify-content: space-between;
}

